<div class="action_area" id="add_member">
  <div class="error_message" id="add_member_error_message">
  </div>
  <table class="action_cells">
    <tbody>
    <tr>
      <%= form_for([:project, ProjectMemberInvitation.new()], :remote => true) do |f| %>
          <td><label for="members_for_lookup">Add Member</label></td>
          <td><%= f.text_field :invitee_details, :size => "60" %></td>
          <td>
            <%= f.collection_select :role, User::ROLES, :to_s, :humanize, :selected => "member"%>
          </td>
          <td>
            <%= f.submit %>
          </td>
      <% end %>

      <td><label for="select_source_list">Or,</label></td>
      <td colspan="3" class="select_source">
        <ul id="select_source_list">
          <li class="select_source_button">
            <a id="new_members_button" href="#">Add members from list</a>
          </li>

        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="text_example" colspan="3">e.g. Name, email, or Sanjeev K. Mishra (SKM) &lt;skmishra@crri.co.in&gt;</td>
    </tr>
    </tbody>
  </table>
</div>