<h1>Invite Member to Project : <%= @project_member_invitation.project.name %></h1>

<%= render 'form' %>

<%= link_to 'Cancel', project_project_member_invitations_path(:project => @project_member_invitation.project) %>
