.contentWrapper{border:1px solid #c5c5c5;border-bottom:0;}
.footerWrapper{border-top:1px solid #c5c5c5;}
.grayToWhiteRoundBlocks{zoom:1;}
.registration,.blueBlock{filter:none;}
form .redButton{padding:0 0 6px 0;}
.contact .blueBlock .tab >span{top:-1px;}