<div class="content_section velocity">
  <h2>Points Breakdown</h2>

  <div id="points_break_down_chart"></div>
  <script type="text/javascript" charset="utf-8">
      <% sprints = []
       @project.no_of_sprints_passed.times {|v| sprints << (v + 1)}
       %>;
      var sprints = <%= sprints %>;
      var chores = <%= @project.chores_trend %>;
      var bugs = <%= @project.bugs_trend %>;
      var features = <%= @project.features_trend %>;
      draw_chart(sprints, chores, bugs, features);
  </script>
</div>