<div class="content_section velocity">
  <h2>Story Trend</h2>

  <div id="points_break_down_chart"></div>
  <script type="text/javascript" charset="utf-8">
      draw_chart(<%= @sprints %>, <%= @chores_trend %>, <%= @bugs_trend %>, <%= @features_trend %>);
  </script>
</div>