<%= link_to project, :class => "project_name" do %>
    <div id="<%= "#{project.id}_project_box" %>" class=" project_box">
      <%= render :partial => 'projects/project_box_details', :locals => {:project => project} %>
    </div>
<% end %>