<div class="project_title"><%= project.name.capitalize %></div>
<div class="project_box_hover_links">
  <% if current_user.belongs_to_project?(project) %>

      <%= link_to 'Stories', project, :class => "hover_link" %>
      <%= link_to 'Members', project_project_member_invitations_path(project) %>
  <% else %>
      <%= link_to 'Join', join_project_path(project), :remote=> true %>
  <% end %>
</div>