<% title "Project Overview" %>
<div class="project_pages">
  <%= render :partial => 'projects/project_page_main_menu', :locals => {:project => @project, :sub_page => "Project Profile"} %>

  <h2>Project Profile</h2>
  <%= render 'form' %>
</div>