<% title @project.name.camelcase %>
<%= render :partial => 'projects/control_panel', :locals => {:view => "project"} %>
<div id="all_panels" class="story_content">
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr id="panels">
      <% Story.categories.each do |category| %>
          <% stories = @project.stories.includes([ :comments, :tasks, :labels, :story_attachments ]).where(:category => category).limit(30) %>
          <%= render :partial => 'stories/stories_panel', :locals => {:stories => stories, :category => category}  %>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    estimate_bugs = <%= @project.estimate_bugs? %>;
    estimate_chores = <%= @project.estimate_chores? %>;
    view = "project";
</script>