<% title @project.name.camelcase %>
<%= render :partial => 'projects/control_panel', :locals => {:current_project => @project, :view => "project"} %>
<div id="all_panels" class="story_content">
  <table id="layout" class="layout" cellspacing="16px">
    <tbody>
    <tr id="panels">
      <% WorkableItem.categories.each do |category| %>
          <% workable_items = @project.workable_items.where(:category => category).limit(15) %>
          <%= render :partial => 'projects/workable_items_panel', :locals => {:workable_items => workable_items, :category => category}  %>
      <% end %>
    </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
    estimate_bugs = <%= @project.estimate_bugs? %>;
    estimate_chores = <%= @project.estimate_chores? %>;
    view = "project";
</script>