<div class="tooltip">
  <div class="storyTitle">Description</div>
  <div class="sectionDivider"></div>
  <div class="tooltip_desc">A story's description should contain the criteria for the acceptance of the
    story. This may take the form of user requirements, acceptance tests, a link to an external document,
    etc.
  </div>
</div>