<div class="tooltip" id="<%=id %>">
  <div class="storyTitle">Story Types</div>
  <div class="sectionDivider">
  </div>
  <div class="tooltip_desc">There are 4 types of story:
    <ul>
      <li>A <b>Feature</b> is a story that provides verifiable business value to the team's customer.
        Usually it is requested by the customer.
      </li>
      <li>A <b>Chore</b> is a story that does not provide verifiable business value to the team's customer
        but is deemed necessary by the team in order to keep moving forward. Usually it is not requested by
        the customer.
      </li>
      <li>A <b>Bug</b> is a story that describes a defect in some accepted story.</li>
      <li>A <b>Release marker</b> is a story that marks the end of some group of stories that constitutes a
        release.
      </li>
    </ul>
  </div>
</div>