<% attachment_id = f.object.new_record? ? "new" : f.object.id %>
<li>
  <div class="attachment_thumbnail">
    <a tabindex="-1" data-new-window="true" href="/resource/download/4251343?inline=true">
      <%= link_to image_tag(f.object.image.url(:thumb)), f.object.image.url(:original), :target => '_blank' %>
      <%= f.check_box :_destroy %>
      <img class="resource_image" alt="bug_step1.jpg" src="https://s3.amazonaws.com/prod.tracker2/resource/4251343/bug_step1_thumb.jpg?AWSAccessKeyId=AKIAIKWOAN6H4H3QMJ6Q&amp;Expires=1325750055&amp;Signature=3V%2FEoKu6Dwm8GTRUp7eB4Evoh1E%3D">
    </a>

  </div>
  <div class="attachment_details_container clearfix">
    <ul class="attachment_details">
      <li class="name"><%= f.object.image_file_name %>
      </li>
      <li class="description" style="display: list-item;">
        <a class="edit" href="#">add a description</a>
      </li>
      <li class="edit_description" style="display: none;">
        <input type="text" maxlength="255" name="description">
        <button>Save</button>
        or <a class="cancel" href="#">cancel</a>
      </li>
      <li class="uploader">Uploaded by Sanjeev Kumar Mishra</li>
      <li class="metadata"><%= f.object.image_file_size %> KB<span> on 29 Dec 2011, 1:24pm</span>
      </li>
      <li class="actions">
        <a href="/resource/download/4251343">Download</a>

        | <a href="#" class="remove">Remove</a>

      </li>

    </ul>
  </div>
</li>