<div class="tooltip">
  <div class="storyTitle">Estimates</div>
  <div class="sectionDivider">
  </div>
  <div class="tooltip_desc">We estimate Features in <b>Points</b>. A Point is a team-specific measurement
    of the effort required to implement a Feature. Estimates are used to calculate the team's
    <b>Velocity</b>.
  </div>
</div>