<div id="backlog_itemList_story21432265" class="item">
<div id="backlog_itemList_story21432265_content" class="storyItem story_item_21432265 accepted underEdit jquery_file_upload">
<div class="attachment_drop_area">  <img src="/images/v7/application/stories_view/icons/dragdrop_here.png">
</div>
<div class="storyPreviewHeader">
<div class="storySelector notDblclickable">&nbsp;</div>
<div class="storyPreviewButtons" id="backlog_itemList_story21432265_content_buttons">
</div>
<div class="icons">
<img id="backlog_itemList_story21432265_content_icons_editButton" class="toggleExpandedButton" src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/story_expanded.png" title="Collapse">
<div class="left">
<img class="storyTypeIcon" src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/bug_external.png" style="display: none;">
<img width="6" class="estimateIcon" src="https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_0pt_fibonacci.gif" style="display: none;">
<img class="flyoverIcon" src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/story_flyover_icon.png" style="display: none;">
</div>
</div>
<div class="storyPreviewInput">
<textarea name="title_input" cols="1" rows="1" class="titleInputField autoresize expand17-99999" id="backlog_itemList_story21432265_content_title_input" style="height: 18px; overflow: hidden;">Setup capistrano script properly for sunspot</textarea>
<div class="clear">
</div>
</div>
</div>
<div class="storyDetailElement">
<div class="storyDetails" id="story_21432265_details">
<form action="#">
<div class="buttons">
<div class="storyDetailsButton">
<input type="submit" value="Save" id="story_21432265_details_story[save_button]">
</div>
<div class="storyDetailsButton">
<input type="submit" value="Cancel" id="story_21432265_details_story[cancel_button]">
</div>
<div class="storyDetailsButton">
<input type="submit" value="Delete" id="story_21432265_details_story[delete_button]">
</div>
<div class="storyDetailsButton">
<input type="submit" value="View history" id="story_21432265_details_story[view_history_button]">
</div>
</div>
<table class="storyDetailsTable">
<tbody>
<tr>
<td colspan="1" class="letContentExpand">
<div>
<select name="story[story_type]" class="storyDetailsField" id="story_21432265_details_story[story_type]">
<option value="feature">Feature</option>
<option value="bug" selected="true">Bug</option>
<option value="chore">Chore</option>
<option value="release">Release</option>
</select>
</div>
</td>
<td colspan="1" class="storyDetailsLabelIcon">
<div class="storyDetailsLabelIcon">
<img id="story_21432265_details_story[story_type]_image" src="https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/bug.png">
</div>
</td>
<td colspan="1" class="helpIcon lastCell">
<div id="story_21432265_details_help_story_types" class="helpIcon">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/question_mark.gif">
</div>
</td>
</tr>
<tr style="display: none;">
<td>
<div>
<div class="deadlineLabel">
<label id="story[deadline]_label" for="story[deadline]">Deadline:</label>
</div>
<div class="dateEditField">
<input type="text" value="NONE" name="story[deadline]" id="backlog_deadline_21432265_story[deadline]" size="11" class="valid">
</div>
</div>
</td>
<td>
<div class="storyDetailsLabelIcon">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/calendar.png" id="backlog_deadline_21432265_icon">
</div>
</td>
<td>
<div id="backlog_deadline_21432265_help_deadlines" class="helpIcon">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/question_mark.gif">
</div>
</td>
<td>
<div>
<a href="javascript:void(0);" id="backlog_deadline_21432265_dateClear" style="display: none;">[clear]</a>
</div>
</td>
</tr>
<tr>
<td colspan="1">
<div>
<select name="story[estimate]" class="storyDetailsField" id="story_21432265_details_story[estimate]" disabled="">
<option value="-1" selected="true">Unestimated</option>
<option value="0">0 points</option>
<option value="1">1 point</option>
<option value="2">2 points</option>
<option value="3">3 points</option>
<option value="5">5 points</option>
<option value="8">8 points</option>
</select>
</div>
</td>
<td colspan="1" class="storyDetailsLabelIcon">
<div class="storyDetailsLabelIcon">
<img id="story_21432265_details_story[estimate]_image" src="https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_unestimated_fibonacci.gif" style="display: none;">
</div>
</td>
<td colspan="1" class="helpIcon">
<div id="story_21432265_details_help_estimates" class="helpIcon">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/question_mark.gif">
</div>
</td>
</tr>
<tr>
<td>
<div>
<select name="story[current_state]" class="storyDetailsField" id="story_21432265_details_story[current_state]">
<option value="unstarted">Not Yet Started</option>
<option value="started">Started</option>
<option value="finished">Finished</option>
<option value="delivered">Delivered</option>
<option value="accepted" selected="true">Accepted</option>
<option value="rejected">Rejected</option>
</select>
</div>
</td>
<td colspan="3">
<div>
<div class="acceptedAtText left">on</div>
<div class="dateEditField left">
<input type="text" value="12/26/2011" name="story[accepted_at]" id="backlog_acceptedAt_21432265_story[accepted_at]" size="11" class="valid">
</div>
<div class="dateIconField">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/calendar.png" id="backlog_acceptedAt_21432265_icon">
</div>
<div class="clear">
</div>
</div>
</td>
</tr>
<tr>
<td>
<div>
<select name="story[requested_by_id]" class="storyDetailsField" id="story_21432265_details_story[requested_by_id]">
<option value="-1">none</option>
<option value="30715">Adam Elliot</option>
<option value="27575">Amitava Basak</option>
<option value="36778">Anupam Choudhury</option>
<option value="27342">Arjun</option>
<option value="201361">Arunmozhi Santhanam</option>
<option value="107678">Bratish Goswami</option>
<option value="28625">Christopher Manning</option>
<option value="25575">CR Geissler</option>
<option value="80176">Dan Mercier</option>
<option value="320309">David Aldana</option>
<option value="28823">Debashis</option>
<option value="37040">Debashree Roy</option>
<option value="56628">Ganesh</option>
<option value="92094">Girish</option>
<option value="43219">Jeff Kam</option>
<option value="45692">Julie May</option>
<option value="28819">Karunakar</option>
<option value="40803">Kelly Michetti</option>
<option value="53703">Kempanna holya</option>
<option value="72611">Krista Ball</option>
<option value="162783">Luis Castro</option>
<option value="201359">Manoj Kumar</option>
<option value="43225">Marcel Ball</option>
<option value="27341">Mark Madsen</option>
<option value="27343">Mat Lavoie</option>
<option value="52193">Mitesh Jain</option>
<option value="63689">Morgan Routledge</option>
<option value="28824">Nandan</option>
<option value="284285">Neeta</option>
<option value="123649">pchatterjee</option>
<option value="130136">Pivotal Integration</option>
<option value="506861">Prasath Venkatraman</option>
<option value="28821">Prem</option>
<option value="28818" selected="true">Raghu</option>
<option value="28820">Rajib Chowdhury</option>
<option value="101821">Ram Naresh</option>
<option value="167543">Ranjan Kumar</option>
<option value="74270">Sanath Kumar</option>
<option value="52196">Sanjeev Kumar Mishra</option>
<option value="201357">Shivakumaran Marimuthu</option>
<option value="28816">Soham</option>
<option value="112695">Sukeerthi Adiga</option>
<option value="268295">Suman Guha</option>
<option value="34398">surajit dey</option>
<option value="35204">Tripurari Singh</option>
<option value="32100">Tushar Bhattacharyya</option>
<option value="43218">Vance Schamehorn</option>
<option value="267105">vigram</option>
<option value="28822">Vijay</option>
<option value="108970">Vijaya Kannusamy</option>
<option value="52192">Vishnu kumar sharma</option>
</select>
</div>
</td>
<td colspan="3">
<label id="story_21432265_details_story[requested_by_id]_label" for="story_21432265_details_story[requested_by_id]">
<div>
<div class="emphasizedFieldLabel">requested </div>
<div class="fieldLabel" id="story_21432265_details_story[created_at_date]">this story on 24 Nov 2011</div>
</div>
</label>
</td>
</tr>
<tr>
<td colspan="1">
<div>
<select name="story[owned_by_id]" class="storyDetailsField" id="story_21432265_details_story[owned_by_id]">
<option value="-1">none</option>
<option value="30715">Adam Elliot</option>
<option value="27575">Amitava Basak</option>
<option value="36778">Anupam Choudhury</option>
<option value="27342">Arjun</option>
<option value="201361">Arunmozhi Santhanam</option>
<option value="107678">Bratish Goswami</option>
<option value="28625">Christopher Manning</option>
<option value="25575">CR Geissler</option>
<option value="80176">Dan Mercier</option>
<option value="320309">David Aldana</option>
<option value="28823">Debashis</option>
<option value="37040">Debashree Roy</option>
<option value="56628" selected="true">Ganesh</option>
<option value="92094">Girish</option>
<option value="43219">Jeff Kam</option>
<option value="45692">Julie May</option>
<option value="28819">Karunakar</option>
<option value="40803">Kelly Michetti</option>
<option value="53703">Kempanna holya</option>
<option value="72611">Krista Ball</option>
<option value="162783">Luis Castro</option>
<option value="201359">Manoj Kumar</option>
<option value="43225">Marcel Ball</option>
<option value="27341">Mark Madsen</option>
<option value="27343">Mat Lavoie</option>
<option value="52193">Mitesh Jain</option>
<option value="63689">Morgan Routledge</option>
<option value="28824">Nandan</option>
<option value="284285">Neeta</option>
<option value="123649">pchatterjee</option>
<option value="130136">Pivotal Integration</option>
<option value="506861">Prasath Venkatraman</option>
<option value="28821">Prem</option>
<option value="28818">Raghu</option>
<option value="28820">Rajib Chowdhury</option>
<option value="101821">Ram Naresh</option>
<option value="167543">Ranjan Kumar</option>
<option value="74270">Sanath Kumar</option>
<option value="52196">Sanjeev Kumar Mishra</option>
<option value="201357">Shivakumaran Marimuthu</option>
<option value="28816">Soham</option>
<option value="112695">Sukeerthi Adiga</option>
<option value="268295">Suman Guha</option>
<option value="34398">surajit dey</option>
<option value="35204">Tripurari Singh</option>
<option value="32100">Tushar Bhattacharyya</option>
<option value="43218">Vance Schamehorn</option>
<option value="267105">vigram</option>
<option value="28822">Vijay</option>
<option value="108970">Vijaya Kannusamy</option>
<option value="52192">Vishnu kumar sharma</option>
</select>
</div>
</td>
<td colspan="3">
<label id="story_21432265_details_story[owned_by_id]_label" for="story_21432265_details_story[owned_by_id]">
<div>
<div class="emphasizedFieldLabel">owns </div>
<div class="fieldLabel">this story</div>
</div>
</label>
</td>
</tr>
<tr>
<td colspan="3">
<label id="story_21432265_details_story[external_id]_label" for="story_21432265_details_story[external_id]">
<div>
<div class="emphasizedFieldLabel">MasterControl ID: </div>
<span>
<a href="http://www.pivotaltracker.com/story/show/21432267" id="story_21432265_details_story[external_id]_link" target="_blank">21432267</a>
</span>
</div>
</label>
</td>
<td colspan="1">
<div>
<input type="text" value="21432267" name="story[external_id]" class="storyDetailsTextField" id="story_21432265_details_story[external_id]" maxlength="255" style="display: none;">
</div>
</td>
</tr>
</tbody>
</table>
<div class="section">
<div class="header">
<div class="label">Labels</div>
</div>
<div class="wrapper">
<input class="labels" name="story[labels]" style="display: none;">
<div class="labels saveable">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/labels_dropdown.png" class="labels_dropdown_arrow">
<ul>
</ul>
<input type="text" class="create ui-autocomplete-input" placeholder="add a label" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
<span style="position: absolute; top: -10000em; left: -10000em; width: auto; font-size: 12px; font-family: Arial,Helvetica,sans-serif; font-weight: 400; letter-spacing: normal; white-space: nowrap;">
</span>
</div>
</div>
</div>
<div class="section">
<div class="storyDescriptionTable">
<div class="header">
<div class="label">Description</div>
<div id="story_21432265_details_help_story_21432265_details_help" class="helpIcon">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/question_mark.gif">
</div>
<div class="clear">
</div>
</div>
<div style="height: 0px; overflow: hidden;">
<textarea name="story[description]" cols="20" rows="1" id="story_21432265_details_story[description]" class="textAreaFocus description_area autoresize expand17-99999" style="height: 18px; overflow: hidden;">http://crri.airbrake.io/errors/22530597</textarea>
</div>
<div id="story_21432265_details_story_readonly_description" class="formatted_text_area">
<a target="_blank" href="http://crri.airbrake.io/errors/22530597">http://crr<wbr>
</wbr>i.airbrake<wbr>
</wbr>.io/errors<wbr>
</wbr>/22530597</a>
</div>
</div>
</div>
<div class="taskTableDiv">
<div class="section">
<div id="story_21432265_details_story[tasks_header]" class="header">Tasks <span class="count">(0)</span>
</div>
<ol class="task_list ui-sortable" style="">
</ol>
<div>
<form class="add_task">
<textarea name="task[description]" cols="1" rows="1" id="story_21432265_details_task[description]" class="tasksTextArea autoresize expand17-99999" style="height: 18px; overflow: hidden;">add a task</textarea>
<input type="submit" value="Add">
</form>
</div>
</div>
</div>
<div class="noteTableDiv">
<div class="section">
<div id="story_21432265_details_story[notes_header]" class="header">Comments <span class="commentCount">(2)</span>
</div>
<table class="notesTable">
<tbody>
<tr class="noteInfoRow">
<td class="noteInfo" id="story_21432265_details_story[note_12395031_date]">
<div class="hightlight_row">
<div>
<span id="noteAuthor12395031" class="highlight">Sukeerthi Adiga</span>
<span id="noteDate12395031" class="italic">29 Nov 2011, 7:38pm</span>
</div>
<a href="javascript:void(0);" id="note_12395031_delete" class="deleteLink">
<img src="/images/v7/application/stories_view/icons/task_delete.png">
</a>
</div>
</td>
<td>
</td>
</tr>
<tr class="noteTextRow">
<td class="noteText" id="story_21432265_details_story[note_12395031_text]">pushed to a branch sunspot.<br>need to work still on it.</td>
</tr>
<tr class="noteInfoRow">
<td class="noteInfo" id="story_21432265_details_story[note_13007859_date]">
<div class="hightlight_row">
<div>
<span id="noteAuthor13007859" class="highlight">Ganesh</span>
<span id="noteDate13007859" class="italic">19 Dec 2011, 1:21pm</span>
</div>
<a href="javascript:void(0);" id="note_13007859_delete" class="deleteLink">
<img src="/images/v7/application/stories_view/icons/task_delete.png">
</a>
</div>
</td>
<td>
</td>
</tr>
<tr class="noteTextRow">
<td class="noteText" id="story_21432265_details_story[note_13007859_text]">This is moved to api backlog  this can be done as a  part of this story: <a onclick="app.showStoryById(22462583)" href="#">https://ww<wbr>
</wbr>w.pivotalt<wbr>
</wbr>racker.com<wbr>
</wbr>/story/sho<wbr>
</wbr>w/22462583<wbr>
</wbr>
</a>
</td>
</tr>
</tbody>
</table>
<div>
<textarea name="note[text]" cols="20" rows="1" id="story_21432265_details_note[text]" class="notesTextArea autoresize expand17-99999" style="height: 18px; overflow: hidden;">add a comment</textarea>
<input type="submit" value="Post Comment" id="story_21432265_details_story[add_note_button]">
<div class="noteText">(Format using *<b>bold</b>* and _<i>italic</i>_ text.)</div>
</div>
</div>
</div>
</form>
<div class="attachmentWidget">
<div>
<div class="section attachments" id="attachment_field_for_21432265">
<div class="header">Attachments <span class="count">(0)</span>
</div>
<ol class="attachments_list">
</ol>
</div>
</div>
<form class="attachment_form jquery_file_upload" enctype="multipart/form-data" method="POST" action="/api/resource/upload?hitchable_id=21432265">
    <div class="attachment_controls_wrapper">
      <input type="file" multiple="" name="Filedata">
    </div>
    <div class="attach_files">
      <span class="upload_button">Upload Files</span>
      
      <span class="text">or, drag them onto this story</span>
    </div>
    <div style="display: none;" class="error_message">
</div>
  </form>
</div>
<table class="section storyIdTable">
<tbody>
<tr>
<td>
<span class="header">Story ID:</span>
<div class="storyId">21432265</div>
<div id="story_21432265_details_help" class="helpIcon" style="display: inline; padding-left: 5px;">
<img src="https://cdn0-pivotaltracker.pantherssl.com/images/v7/application/icons/common/question_mark.gif">
</div>
</td>
</tr>
<tr>
<td colspan="3">
<div>
<input type="text" value="https://www.pivotaltracker.com/story/show/21432265" name="storyURL" id="story_21432265_textField" class="storyDetailsStoryLink" readonly="true">
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>