<div id="backlog_itemList_story21432265" class="item">
<div id="backlog_itemList_story21432265_content" class="storyItem story_item_21432265 accepted notUnderEdit">
<div class="attachment_drop_area">  <img src="/images/v7/application/stories_view/icons/dragdrop_here.png">
</div>
<div class="storyPreviewHeader">
<div class="storySelector notDblclickable">&nbsp;</div>
<div class="storyPreviewButtons" id="backlog_itemList_story21432265_content_buttons">
</div>
<div class="icons">
<img id="backlog_itemList_story21432265_content_icons_editButton" class="toggleExpandedButton" src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/story_collapsed.png" title="Expand">
<div class="left">
<img class="storyTypeIcon" src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/bug_external.png" style="">
<img width="6" class="estimateIcon" src="https://cdn1-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/estimate_0pt_fibonacci.gif" style="">
<img class="flyoverIcon" src="https://cdn2-pivotaltracker.pantherssl.com/images/v7/application/stories_view/icons/story_flyover_icon.png" style="">
</div>
</div>
<div id="backlog_itemList_story21432265_content_details" class="storyPreviewText" style="cursor: default;">
<span id="backlog_itemList_story21432265_content_labels_story[label_list]" class="storyLabels empty" style="">
</span>
<span>Setup capistrano<wbr>
</wbr> script properly for sunspot (<a href="javascript:void(0);" title="Ganesh" class="storyOwnerInitials">Ganesh</a>)</span>
</div>
</div>
<div class="storyDetailElement">
</div>
</div>
</div>