<div class="action_area" id="add_member">
  <div class="error_message" id="add_member_error_message"></div>
  <div class="message" id="add_member_message"></div>
  <table class="action_cells">
    <tbody>
    <tr>
      <%= form_for([:project, ProjectUser.new()], :remote => true) do |f| %>
          <td><label for="members_for_lookup">Add Member</label></td>
          <td><%= f.text_field :invitee_details, :size => "60" %></td>
          <td>
            <%= f.collection_select :role, ProjectUser::ROLES, :to_s, :humanize, :selected => "member"%>
          </td>
          <td>
            <%= f.submit %>
          </td>
      <% end %>
      <td><label for="select_source_list">Or,</label></td>
      <td colspan="3" class="select_source">
        <ul id="select_source_list">
          <li class="select_source_button">
            <a id="new_members_button" title="Coming Soon" href="#">Add members from list</a>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="text_example" colspan="3">e.g. Name, email, or Sanjeev K. Mishra (SKM) &lt;skmishra@crri.co.in&gt;</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="text_example" colspan="2">
        <img style="display:none;" src="/images/ajax-loader.gif"  class="spinner" alt="Spinner_adding">
      </td>
    </tr>
    </tbody>
  </table>
</div>