<% title "Project Members" %>
<div class="project_pages members_page">
  <%= render :partial => 'projects/project_page_main_menu', :locals => {:project => @project, :sub_page => "Members"} %>
  <h2>Members</h2>
  <% if current_user.can_manage_members_of(@project) %>
      <%= render 'form' %>
  <% end %>
  <div id="members_module">
    <table class="listing_table" id="members_table">
      <tbody>
      <tr>
        <th class="name">Name</th>
        <th class="initials">Initials</th>
        <th class="email">Email</th>
        <th class="email">Invited By</th>
        <th class="role">Role</th>

        <th class="invitations">Joined</th>
        <th class="remove"></th>
      </tr>
      <% @project_users.select { |project_user| !project_user.user.eql? current_user }.each do |project_user| %>
          <%= render :partial => 'project_user_row', :locals => {:project_user => project_user} %>
      <% end %>

      </tbody>
    </table>
      <%= paginate @project_users %>
  </div>
</div>