<p>Hi <%= @resource.email %>!</p>

<p>Welcome to scrumcook.com. SCRUM COOK allows you to manage your projects in AGILE way!</p>
<p>To start using scrum cook, you need to confirm your account. You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>

<%= render 'users/mailer/mail_signature' %>
