<p>Hi <%= @resource.email %>!</p>

<p>Welcome to whiteapple.com. White Apple allows you to manage your projects in AGILE way!</p>
<p>To start using white apple, you need to confirm your account. You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', user_confirmation_url(:confirmation_token => @resource.confirmation_token) %></p>
<p>
  Thanks and Regards,
  The WHITE APPLE Team
</p>
